.StackCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  h2{
    font-family: Josefin Sans;
    font-size: 6vw;
  }
  .card {
    background: #000000;
    width: 30rem;
    height: 20rem;
    border: 1px solid #222;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    position: relative; /* Add position relative for shadow effect */
    &:hover {
      transition: 0.5s;
      border: 1px solid white;
      box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5); /* Add shadow effect on hover */
      backdrop-filter: blur(10px); /* Add blur effect on hover */
    }

    .head {
      // flex: 0.5;
      width: 2rem;
      height: auto;
      rotate: 270deg;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Josefin Sans;
      font-weight: 600;
      letter-spacing: 0.1rem;
    }
    .icon {
      font-size: 10rem;
      flex: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content {
      flex: 1;
      padding-left: 0.5rem;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: DM Sans;
      font-weight: 600;
      letter-spacing: 0.06rem;
      word-spacing: 0.19rem;
    }
  }
}
